{% extends 'base.html' %}

{% block title %}Painel{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Bem-vindo, {{ user.username }}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Seu Cargo</h5>
                        <p class="card-text">
                            {% if user.is_superuser %}
                            Super Usuário
                            {% elif user.is_inspector %}
                            Inspetor
                            {% elif user.is_teacher %}
                            Trabalhador
                            {% else %}
                            Usuário Padrão
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quick Actions</h5>
                        <ul class="list-group">
                            {% if user.is_superuser %}
                            <li class="list-group-item">
                                <a href="{% url 'manage_teachers' %}" class="text-decoration-none">Gerenciar Trabalhadores</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'manage_tasks' %}" class="text-decoration-none">Gerenciar Tarefas</a>
                            </li>
                            {% endif %}
                            {% if user.is_teacher %}
                            <li class="list-group-item">
                                <a href="{% url 'record_work' %}" class="text-decoration-none">Registrar Trabalho</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'recent_work_sessions' user.teacher.id %}" class="text-decoration-none">Sessões de Trabalho Recentes</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'teacher_salary_reports' %}" class="text-decoration-none">Meus Relatórios de Salário</a>
                            </li>
                            {% endif %}
                            <li class="list-group-item">
                                <a href="{% url 'change_password' %}" class="text-decoration-none">Alterar Senha</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
